{% extends 'base.html.twig' %}

{% block title %}L'ÉQUIPE!{% endblock %}

{% block body %}

    <div class="containerPageTeam">
        <div class="containAllTeam">
            <div class="containTitleChampion">
                <div class="blankChampionTitle"></div>
                <h2 class="titleChampion">SELECT YOUR CHAMPION</h2>
            </div>

            <div class="containChampions">
                <div class="containerPictureChamp">
                    <img id="pictureChamp" src="">
                </div>
                <div class="containerSkillsChamp">
                    <div class="containSkills">
                        <div class="allSkills">
                            <div class="skills">
                                <h3>SKILLS</h3>
                                <div class="barSkills">
                                    <div class="bar-skill">
                                        <p class="name-skill">HUMOUR</p>
                                    </div>
                                    <div class="bar-skill">
                                        <p class="name-skill">CHARME</p>
                                    </div>
                                    <div class="bar-skill">
                                        <p class="name-skill">SKILLS</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="lineChamp"></div>
                        <div class="containSocialChamp">
                            <img class="iconSocialChamp" src="{{ asset('css/img/icon-youtube.png') }}">
                            <img class="iconSocialChamp" src="{{ asset('css/img/icon-twitch.png') }}">
                            <img class="iconSocialChamp" src="{{ asset('css/img/icon-discord.png') }}">
                            <img class="iconSocialChamp" src="{{ asset('css/img/icon-twitter.png') }}">
                            <img class="iconSocialChamp" src="{{ asset('css/img/icon-insta.png') }}">
                        </div>
                    </div>
                    <div class="containBio" >
                        <div class="bio">
                            <h3>BIO</h3>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="containerMiniPicChamp">
                <div class="allMiniPics">
                    <img class="picChamps" src="">
                    <img class="picChamps" src="">
                    <img class="picChamps" src="">
                    <img class="picChamps" src="">
                    <img class="picChamps" src="">
                    <img class="picChamps" src="">
                    <img class="picChamps" src="">
                    <img class="picChamps" src="">
                    <img class="picChamps" src="">
                    <img class="picChamps" src="">
                </div>
            </div>
        </div>


    </div>


{% endblock %}
